@import "mixins";
.footer {
  @extend %glassy;
  width: 100%;
  padding: var(--section-gap) 0 calc(var(--section-gap) * 2);
  border-bottom: 1px solid transparent;
  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
  }
  .logo {
    width: 4rem;
    height: 4rem;
    margin-bottom: 2rem;
  }
}
.footer-col {
  flex: 1 1 200px;
  width: 100%;
  &:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
      margin: 0;
    }
  }
  h4 {
    margin-bottom: 3rem;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      background-image: var(--gradient-background);
      height: 2px;
      box-sizing: border-box;
      width: 60px;
    }
  }
  ul {
    list-style: none;
  }
  ul li:not(:last-child) {
    margin-bottom: 2rem;
  }
  ul li a {
    font-size: calc(0.8rem + 0.3vw);
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    transition: color var(--transition-time) ease,
                transform var(--transition-time) ease;
    &:hover {
      color: var(--clr-primary);
      transform: translateX(0.5rem);
    }
  }
  .social-links a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 1.5rem 1.5rem 0;
    border-radius: 50%;
    color: var(--clr-text);
    transition: color var(--transition-time) ease,
                background-color var(--transition-time) ;
    &:hover {
      color: var(--clr-button-background);
      background-color: var(--clr-text);
    }
  }
}