{% extends "layout.html" %}
{% block content %}
<section class="glassy">
    <div class="row">
        <div class="column">
            <div class="column-content">
                <h1>The life of a small man with big ambitions</h1>
                <p>Hello! I am Kirill Chekemenev, and this is my personal website. Here I will share my
                    programming experience and try to
                    help others to follow my path. You are welcome to check out what I have achieved for
                    several
                    years!</p>
                <div class="button-wrapper">
                    <a href="#" class="button"><span>Recent publications</span></a>
                    <a href="#" class="button"><span>About me</span></a>
                </div>
            </div>
        </div>
        <div class="column">
            <img src="/static/images/hero1.png" alt="hero">
        </div>
    </div>
</section>
<section>
    <h2>How programming helps with school?</h2>
    <div class="cards-wrapper">
        <div class="card" data-tilt-element>
            <h3>Curve fitting with Python</h3>
            <div class="card-text">
                <p>As I started to do my math internal assessment, I began looking for utilities to help me
                    with it. I needed a program to help me set the points on a 2d plane, find the best fit
                    function and give me the correlation coefficient. Soon it turned out that the last two
                    issues were almost impossible to do on one website, so I had to play around with it.</p>
            </div>
            <div class="button-wrapper">
                <a href="#" class="button"><span>Read more</span></a>
            </div>
        </div>
        <div class="card" data-tilt-element>
            <h3>Folder and file manager</h3>
            <div class="card-text">
                <p>I had never thought that I would need to have a file naming system. Here I am scrolling
                    through my TOK files that are
                    called "TOK", "TOK thing", "TOK very thing", "TOK thingy thing", and "TOK 3 things"...
                    If you don't want to repeat my
                    mistakes, you can think of the systemising this process, and programming can help you
                    with it.</p>
            </div>
            <div class="button-wrapper">
                <a href="#" class="button"><span>Read more</span></a>
            </div>
        </div>
        <div class="card" data-tilt-element>
            <h3>Productive autorun</h3>
            <div class="card-text">
                <p>As a student with a lot of interests and one old laptop for all of them, sometimes I wish
                    I had a different autorun
                    depending on what I am going to do. For instance, why would I need to have OneDrive and
                    Microsoft Teams opening if I
                    want to play some video games and need the best performance possible? So, creating a
                    program that can find and run multiple background processes at once would be
                    excellent...</p>
            </div>
            <div class="button-wrapper">
                <a href="#" class="button"><span>Read more</span></a>
            </div>
        </div>
        <div class="card" data-tilt-element>
            <h3>Curve fitting with Python</h3>
            <div class="card-text">
                <p>As I started to do my math internal assessment, I began looking for utilities to help me
                    with it. I needed a program to help me set the points on a 2d plane, find the best fit
                    function and give me the correlation coefficient. Soon it turned out that the last two
                    issues were almost impossible to do on one website, so I had to play around with it.</p>
            </div>
            <div class="button-wrapper">
                <a href="#" class="button"><span>Read more</span></a>
            </div>
        </div>
        <div class="card" data-tilt-element>
            <h3>Curve fitting with Python</h3>
            <div class="card-text">
                <p>As I started to do my math internal assessment, I began looking for utilities to help me
                    with it. I needed a program to help me set the points on a 2d plane, find the best fit
                    function and give me the correlation coefficient. Soon it turned out that the last two
                    issues were almost impossible to do on one website, so I had to play around with it.</p>
            </div>
            <div class="button-wrapper">
                <a href="#" class="button"><span>Read more</span></a>
            </div>
        </div>
        <div class="card" data-tilt-element>
            <h3>Curve fitting with Python</h3>
            <div class="card-text">
                <p>As I started to do my math internal assessment, I began looking for utilities to help me
                    with it. I needed a program to help me set the points on a 2d plane, find the best fit
                    function and give me the correlation coefficient. Soon it turned out that the last two
                    issues were almost impossible to do on one website, so I had to play around with it.</p>
            </div>
            <div class="button-wrapper">
                <a href="#" class="button"><span>Read more</span></a>
            </div>
        </div>
        <div class="card" data-tilt-element>
            <h3>Curve fitting with Python</h3>
            <div class="card-text">
                <p>As I started to do my math internal assessment, I began looking for utilities to help me
                    with it. I needed a program to help me set the points on a 2d plane, find the best fit
                    function and give me the correlation coefficient. Soon it turned out that the last two
                    issues were almost impossible to do on one website, so I had to play around with it.</p>
            </div>
            <div class="button-wrapper">
                <a href="#" class="button"><span>Read more</span></a>
            </div>
        </div>
        <div class="card" data-tilt-element>
            <h3>Curve fitting with Python</h3>
            <div class="card-text">
                <p>As I started to do my math internal assessment, I began looking for utilities to help me
                    with it. I needed a program to help me set the points on a 2d plane, find the best fit
                    function and give me the correlation coefficient. Soon it turned out that the last two
                    issues were almost impossible to do on one website, so I had to play around with it.</p>
            </div>
            <div class="button-wrapper">
                <a href="#" class="button"><span>Read more</span></a>
            </div>
        </div>
    </div>
</section>
{% endblock %}